@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.navbar-logo{
    font-size: 50px;
    font-weight: bold;
    color:#E9204F;
    text-decoration: none;
    position:relative;
    left:200px;
}
.dropdown-menu{
    background-color:#E9204F; 
    box-sizing: border-box;
    background-size: cover;
    margin-left: 40px;
}
.dropdown-item{
    color:white;
}
#navbarDropdown{
    padding-left: 40px;
}
.d-flex{
    padding-left: 40px;
}
.btn{
    background-color: #E9204F;
    padding:10px;
    border-radius: 35px;
    width:150px;
    color:white;
}
.collapse{
    position: relative;
    right:200px;
}



[value="button1"]{
    border-color:#E9204F;
    background-color:#E9204F;
    color: white;
    border-radius: 70px;
    padding:10px;
}
[value="button2"]{
    border-color:#E9204F;
    background-color: #E9204F;
    color: white;
    border-radius: 70px;
    padding:10px;
    width:120px;
}
.bodycol1{
   height:500px;
   position:relative;
   left:90px;
   top:100px;
   width:350px;
   padding-top:110px;
}
strong{
    color:#E9204F;
}
.bodycol2{
    position:relative;
    left:120px;
    background-attachment: fixed;
    padding-top: 120px;
}




.bolrow2 {
    background-color: #F4F4F4;
}
.bolrow21{
    padding-left:80px;
    padding-top:8px;
}
.lms{
    border-color: white;
    background-color: white;
    border-radius: 20px;
    margin:95px 15px 90px 40px;
    position: relative;
    left:60px;
    width:350px;
    height:400px;
}
[src="https://www.konalms.com/images/lms_img1.jpg"]{
    margin:15px 15px 15px 15px;
    border-radius: 20px;
}
.education{
    border-color: white;
    background-color: white;
    margin:95px 15px 90px 40px;
    border-radius: 20px;
    position: relative;
    left:45px;
    width:350px;
    height:400px;
}
[src="https://www.konalms.com/images/lms_img2.jpg"]{
    margin:15px 15px 15px 15px;
    border-radius: 20px;
}

.institution{
    border-color:white;
    background-color: white;
    margin:95px 15px 90px 40px;
    border-radius: 20px;
    position: relative;
    left:40px;
    width:350px;
    height:400px;
}
[src="https://www.konalms.com/images/lms_img3.jpg"]{
    margin:15px 15px 15px 15px;
    border-radius: 20px;
}
a{
    color:rgb(203, 43, 70);
    text-decoration: none;
}



.features{
    width:600px;
    text-align:center;
    padding:40px;
}
.heading{
    position: relative;
    left:380px;
}
.icons1{
    padding-left:90px;
}
.icons1 p{
    width:330px;
}
.icons2{
    padding-left:90px;
    padding-bottom:50px;
}
.icons2 p{
    width:330px;
}
.bb1{
    color: white;
    border-color: #E9204F;
    background-color: #E9204F;
    padding:10px;
    border-radius:35px;
    width:150px;
    position: relative;
    left:600px;
}


.konalms{
    background-color: #F4F4F4;
    margin-top:50px;
}
/*.konalms1{
    position:relative;
    top:250px;
    left:430px;
    width:200px;
    padding:20px 20px 20px 35px;
    background-color: white;
    border-radius: 100%;
    box-shadow:0px 0px 15px #78787826;
}*/
.psh1{
    position: relative;
    left:240px;
    top:40px;
}
.psh2{
    position:relative;
    left:940px;
    bottom:420px;
}
.klmsc11{
    position:relative;
    top:10px;
    left:280px;
    width:40px;
    padding:20px 70px 20px 20px;
    background-color: white;
    border-radius:100%;
    box-shadow:0px 0px 15px #78787826;
}
.c11name{
    font-size:medium;
    position:relative;
    top:20px;
    left:300px;
}
.klmsc12{
    position:relative;
    top:30px;
    left:130px;
    width:40px;
    padding:20px 70px 20px 20px;
    background-color: white;
    border-radius:100%;
    box-shadow:0px 0px 15px #95959526;
}
.c12name{
    font-size:medium;
    position:relative;
    top:35px;
    left:100px;
}
.klmsc13{
    position:relative;
    top:-90px;
    left:410px;
    width:40px;
    padding:20px 70px 20px 20px;
    background-color: white;
    border-radius:100%;
    box-shadow:0px 0px 15px #95959526;
}
.c13name{
    font-size:medium;
    position:relative;
    top:-85px;
    left:410px;
}
.klmsc21{
    position:relative;
    top:-390px;
    left:810px;
    width:40px;
    padding:20px 70px 20px 20px;
    background-color: white;
    border-radius:100%;
    box-shadow:0px 0px 15px #95959526;
}
.c21name{
    font-size:medium;
    position:relative;
    top:-380px;
    left:790px;
}
.klmsc22{
    position:relative;
    top:-513px;
    left:1010px;
    width:40px;
    padding:20px 70px 20px 20px;
    background-color: white;
    border-radius:100%;
    box-shadow:0px 0px 15px #95959526;
}
.c22name{
    font-size:medium;
    position:relative;
    top:-503px;
    left:990px;
}
.klmsc23{
    position:relative;
    top:-480px;
    left:810px;
    width:40px;
    padding:20px 70px 20px 20px;
    background-color: white;
    border-radius:100%;
    box-shadow:0px 0px 15px #95959526;
}
.c23name{
    font-size:medium;
    position:relative;
    top:-470px;
    left:780px;
}
.klmsc24{
    position:relative;
    top:-600px;
    left:1010px;
    width:40px;
    padding:20px 70px 20px 20px;
    background-color: white;
    border-radius:100%;
    box-shadow:0px 0px 15px #95959526;
}
.c24name{
    font-size:medium;
    position:relative;
    top:-590px;
    left:990px;
}


.getfreedemo1{  
    background:url("https://www.konalms.com/images/startbg.jpg") rgb(238, 61, 91);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height:300px;
    padding-top:40px;
}
.gfdh{
    color:white;
    padding:50px;
    text-align: center;
    width:500px;
    position:relative;
    left:490px;

}
.gfd{
    background-color: white;
    border-color: white;
    color:black;
    width:170px;
    border-radius: 70px;
    padding:10px;
    margin-bottom:40px;
    position: relative;
    left:650px;
}


.ourclinets{
    text-align: center;
    height:200px;
}


.footer{
    background-color:  #F4F4F4;
    padding-top:50px;
}
.ftrkona{
    padding-left:90px;
}
[type="none"]{
    padding-left:80px;
}
.item{
    padding:5px;
}

input{
    width:450px;
    height:40px;
    border-color: #95959526;
}
#exampleModalLabel{
    font-size:20px;
    font-weight: bold;
}



